.header{
    position: relative;
    margin-bottom: 6rem;
    // background: linear-gradient(180deg,#FF6F00,#F67C1D);;
    &__container{
        
        // margin: 1rem;
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-content: center;
        z-index: -5;
    }

    &__title{
        
        cursor: pointer;
    }

    &__menu{
        position: relative;
        margin-right: 10rem;
        & ul{
            position: relative;
            list-style: none;
            }
        }
        & li{
            display: inline-block;
            &:not(:last-child){
                margin-right: 4rem;
        }

        .menu-animate {
            border: none;
            border-radius: 10px;
            transition: all .1s;
            position: relative;
            width: 100%;
            padding: 1rem;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            z-index: 1;
            color:$color-black;
            overflow: hidden;

            &:hover{
                color:$color-white;
                font-weight: 500;
                &:before{
                    transform: translateX(0);
                    opacity: 1;
                }
            }

            &:before{
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                transform: translateX(-100%);
                opacity: 0;
                border-radius: 10px;
                background-color: $color-grey-black;
                z-index: -1;
                transition: all .4s;
            }
       }

       .active{
        border-radius: 10px;
        background-color:$color-grey-black;
        color:$color-white;
        font-weight: 500;
        position: relative;
        width: 100%;
        padding: 1rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
         z-index: 1;
       }

    }
}