//COLORS
$color-primary-dark:#0045B7;
$color-primary-light: #1175E2;

$color-white:#FFFFFC;
$color-gray-white:#F3F3F3;

$color-black:#2D2C2D;
$color-grey-black:#555555;
$color-full_black:#000;
$color-black-board:#0B0511;

//ornage
$color-orange:#FF6702;
$color-orang-light:#F56333;

//grey
$color-light-grey:#EBEAEA;
$color-dark-grey:#C9C9C9;

//red
$color-red:#F03232;

//green
$color-green: #02B268;

//blue
$color-blue: #0094E5;

